.container{
    width:50%;
    margin: auto;
    text-align:center ;
    justify-content: center;
    margin-top: 3%;
}

.imagebox{
    width: 50%;
    display: flex;
    margin: auto;
}

.img{
    width:100%;
}

